process_name=pb0_gghh
process_path=pb0_gghh

in=g,g
out=h,h
order=QQ, 4, 4

# one quark flavour [t] running in the loops:
qgraf.verbatim=true=chord[part22,part23,part24,part5000000,0,0];
qgraf.options=onshell,notadpole,nosnail

one=mdlaS
zero=mdlMU,mdlMD,mdlMS,mdlMC,mdlMB,mdlWT,mdlWh,mdlWW,mdlWZ

reduction_programs=ninja
extensions=

model=FeynRules, ../model/UFO_modHEFT

r2=explicit

PSP_chk_method=LoopInduced

filter.nlo= lambda d: d.vertices(part5,anti5,part5000000) == 0 and  d.vertices(part15,anti15,part5000000) == 0
