process_name=eeuu
process_path=virtual

# PDG codes # Gluon: 21 # Z-Boson: 23
in=11,-11
out=2,-2

order=QCD, 0, 2

filter.particles=S:0,C:0,B:0,T:0,H:0,chi:0

helicities=[eE=+-]E[uU=+-]U

one=gs,e
zero=mU,mD,mS,mC,mB,wT,me

regularisation_scheme=cdr
