process_name=udeneg
process_path=virtual

# PDG codes
# u: 2, d: 1
# Gluon: 21
# Z-Boson: 23
# e-: 11, \nu_e: 12
in=2, -1
out=12, -11, 21

model=sm

order=QCD, 1, 3

# Only W+ in s-channel, no Goldstone bosons
qgraf.verbatim=\
true=bridge[Wp,Wm,1,100];


one=gs,e
zero=mU,mD,me

# There are only two non-zero helicities
helicities=-+-++, -+-+-

regularisation_scheme=cdr
