process_name=graviton
process_path=virtual
in=u,u~
out=A,A
model=FeynRules,../model/LED_UFO/
order=QCD,0,2
zero=mdlMU,mdlMD,mdlMS,mdlMC,mdlMB,mdlWT,mdlWGr
one=mdlaS
filter.particles=d:0,s:0,c:0,b:0
filter=lambda d: sum(p.particle().name() == "Gr" for p in d.bridges()) == 1
extensions=customspin2prop
