process_name=ggtt
process_path=ngolem

# PDG codes # Gluon: 21 # Z-Boson: 23
in=21, 21
out=6,-6

order=QCD, 2, 4

qgraf.options=onshell,notadpole,nosnail
qgraf.verbatim=true=chord[U,S,C,B,0,0];

model=smdiag
model.options=Nfgen:1, masses: mT, widths: none

one=gs,e

filter.nlo=lambda d: not d.isScaleless()
extensions=golem95
