process_name=pb1_gghh
process_path=pb1_gghh

in=g,g
out=h,h
order=QQ, None, 4


one=mdlaS
zero=mdlMU,mdlMD,mdlMS,mdlMC,mdlMB,mdlWT,mdlWh,mdlWW,mdlWZ

reduction_programs=ninja
extensions=

model=FeynRules, ../model/UFO_modHEFT

use_order_names=True

r2=explicit

PSP_chk_method=LoopInduced

filter.nlo= lambda d: d.vertices(["part5", "part15"],["anti5", "anti15"],"part5000000") == 0 and d.chord(["part22", "part23", "part24", "part5000000"]) == 0
