process_name=pt19_gghh
process_path=pt19_gghh

in=g,g
out=h,h
order=QCD, None, 2

one=mdlaS
zero=mdlMU,mdlMD,mdlMS,mdlMC,mdlMB,mdlWT,mdlWh,mdlWW,mdlWZ

#reduction_programs=ninja
reduction_programs=golem95
#extensions=quadruple

model=FeynRules, ../model/UFO_testSMEFTGoSam

use_order_names=True

r2=explicit

PSP_chk_method=LoopInduced

order_names=NP,QL,QCD

filter.nlo= filter.nlo= lambda d: d.vertices(["part5", "part15"],["anti5", "anti15"],"part5000000") == 0 \
    and d.vertices("part21","part21","part5000000") == 0 and d.vertices("part21","part21","part5000000","part5000000") == 0 \
    and d.order('NP')<2

