###################
# physics options #
###################

model=smehc
model.options= Nf:5, Nfgen:1

renorm_ehc=true

zero=mD,mU
one=gs,e

symmetries=family

filter.particles=A:0,Z:0,C:0,S:0,B:0,H:0

filter.nlo= lambda d: not is_scaleless(d) and not (any(l.particle().name() == "g" for l in d.legs()) and any(p.particle().name() == "U" for p in d.chord(0)))


###################
# rescue  options #
###################

PSP_check=True
PSP_rescue=True
PSP_verbosity=True
PSP_chk_kfactor=1000
