process_name=dgdg
process_path=virtual

# PDG codes # Gluon: 21 # Z-Boson: 23
in=1,21
out=1,21

order=QCD, 2, 4

filter.paticles=S:0,C:0,B:0,T:0


one=gs,e
zero=mU,mD

helicities=++++, +++-, +-++, +-+-

regularisation_scheme=cdr
