process_name=eett
process_path=virtual

# PDG codes # Gluon: 21 # Z-Boson: 23
in=-11,11
out=6,-6

order=QCD, 0, 2

model=sm

qgraf.verbatim=true=chord[U,S,C,B,0,0];\\n\\\ntrue=iprop[H,chi,0,0];

helicities=[dD=+-]D[+-][+-]

one=gs,e
zero=mU,mD,mS,mC,mB,wT,me

reference-vectors=3:2,4:2

reduction_programs=golem95
