process_name=eeuu
process_path=virtual

# PDG codes # Gluon: 21 # Z-Boson: 23
in=11,-11
out=2,-2

order=QCD, 0, 2

qgraf.verbatim=true=chord[S,C,B,T,0,0];\\n\\\ntrue=iprop[H,chi,0,0];

helicities=[eE=+-]E[uU=+-]U

one=gs,e
zero=mU,mD,mS,mC,mB,wT,me

