process_name=dgdg
process_path=ngolem

# PDG codes # Gluon: 21 # Z-Boson: 23
in=1,21
out=1,21

order=QCD, 2, 4

qgraf.verbatim=\
true=chord[S,C,B,T,0,0];

qgraf.options=onshell,notadpole,nosnail

one=gs,e
zero=mU,mD

helicities=++++, +++-, +-++, +-+-
symmetries=flavour, parity

# do not use default extensions
extensions=
