process_name=graviton
process_path=virtual
in=u,u~
out=A,A
model=FeynRules,../model/LED_UFO/
order=QCD,0,2
zero=mdlMU,mdlMD,mdlMS,mdlMC,mdlMB,mdlWT,mdlWGr
one=mdlaS
filter.particles=part1:0,part3:0,part4:0,part5:0
filter.lo=lambda d: d.bridge("part9000006") == 1
filter.nlo=lambda d: d.bridge("part9000006") == 1
extensions=customspin2prop
regularisation_scheme=cdr
