process_name=udhud_unitary
process_path=udhud_unitary

in=anti1, part2
out=part25, anti1, part2
order=QED, 3, 3
model=FeynRules, ../model/Standard_Model_Unitary_UFO

one=mdlee,mdlG
zero=mdlMB

qgraf.options=notadpole,nosnail,onshell
qgraf.verbatim=true=iprop[part3,part4,part5,part6,part11,part13,part15,0,0];

reduction_programs=ninja, golem95

unitary_gauge=true

filter.nlo= lambda d: d.chord(part21) > 0