process_name=udhud_feynman
process_path=udhud_feynman

in=d~, u
out=H, d~, u
order=QED, 3, 3
model=FeynRules, ../model/Standard_Model_UFO

one=mdlee,mdlG
zero=mdlMB

filter.particles=s:0,s:0,b:0,t:0,e-:0,mu-:0,tau-:0

reduction_programs=ninja

filter.nlo= lambda d: d.chord("g") > 0
