###################
# physics options #
###################

model=smehc
model.options= Nf:5, Nfgen:1

renorm_ehc=true

zero=mD,mU
one=gs,e

symmetries=family

filter.particles=A:0,Z:0,C:0,S:0,B:0,H:0

filter.nlo= lambda d: not d.isScaleless() and not (d.legs("g") > 0 and d.chord("U") > 0)


###################
# rescue  options #
###################

PSP_check=True
PSP_rescue=True
PSP_verbosity=True
PSP_chk_kfactor=1000

regularisation_scheme=thv
