# config file for the gosam_installation script

[general]

# each pkg needs a pkg_* section in this file
pkg_install = qgraf form gosam-contrib gosam
supported_fortran_compilers=gfortran gfortran-5 gfortran-4.8 gfortran-4.7 ifort
download_unpack_subdir=GoSam

# following values in MB
minimal_build_diskspace=180
minimal_install_diskspace=70


[gosam-installer]
version=20210114
url=https://raw.githubusercontent.com/gudrunhe/gosam/master/tools/gosam_installer.py


[pkg_gosam]
version=2.1.1
url=https://github.com/gudrunhe/gosam/releases/download/2.1.1/gosam-2.1.1-4b98559.tar.gz
version_parser=get_gosam_version
binary=gosam.py
official_name=GoSam
check_if_existing=False
setup_command1=./setup.py install --prefix={prefix} -f

[pkg_gosam-contrib]
version=2.0-20200904
url=https://github.com/gudrunhe/gosam-contrib/releases/download/gosam-contrib-2.0-20200904/gosam-contrib-2.0-20200904.tar.gz
official_name=GoSam Contrib
check_if_existing=False
setup_command1=./configure --prefix={prefix} --libdir={libdir} F77={fc} FC={fc} CC={cc} CXX={cxx} {gosam_contrib_options}
setup_command2=make clean
setup_command3=make -C avh_olo-3.6.1/ -j {jmake}
setup_comment3=AvH_OLO
setup_command4=make -C ff-2.0/ -j {jmake}
setup_comment4=FF
setup_command5=make -C qcdloop-1.95 -j {jmake}
setup_comment5=QCDLoop
setup_command6=make -C ninja-1.2.0/ -j 1
setup_comment6=Ninja
setup_command7=make -C golem95-1.3.3/ -j {jmake}
setup_comment7=Golem95 (please be patient)
setup_command8=make -C samurai-2.9.1/ -j {jmake}
setup_comment8=Samurai
setup_command9=make
setup_command10=make install


[pkg_form]
version=4.2.1
url=https://github.com/vermaseren/form/releases/download/v4.2.1/form-4.2.1.tar.gz
dest_file=form.tar.gz
binary=tform form tform4 form4 tform3 form3 form4-64
version_parser=get_form_version
official_name=FORM
check_if_existing=True
use_backup_if_no_autotools=True
#setup_command1=autoreconf --install
# -fpermissive needed for llvm g++ compiler
setup_command2=./configure --prefix={prefix} --bindir={bindir} CC={cc} CXX={cxx} CXXFLAGS=-fpermissive
setup_command3=make LINKFLAGS= -j {jmake}
setup_command4=make install


[pkg_qgraf]
version=3.4.2
url=http://qgraf.tecnico.ulisboa.pt/v3.4/qgraf-3.4.2.tgz
#backup_url=https://gosam.hepforge.org/qgraf-3.1.4.tgz
user=anonymous
password=GoSamInstaller
sha1sum=4045689324bcd67d878c5da3c9c8267cf98c26a8
binary=qgraf qgraf-3.4.2
version_parser=get_qgraf_version
official_name=QGraf
check_if_existing=True
setup_command1={fc} qgraf*.f -o qgraf -O2
setup_command2=cp qgraf {bindir}
setup_command3=echo "copying qgraf -> {bindir}"

[pkg_gosam_setup_env]
official_name = gosam_setup_env.sh script
version = 3
