process_name=stop
process_path=virtual
in=u,d~
out=ne,e+,b,b~
model=smdiag
model.options= mW: 80.45, mZ: 91.18, mT:170.9, wT: 1.5, GF:0.00001166390
order=gs,0,2
one=gs
zero=mB,mU,mD,wW,me
helicities=-+-+-+

qgraf.verbatim=true = iprop[Wp,2,100];true = iprop[T,1,100];true = chord[Wp,0,0];true = bridge[g,0,0];

