process_name=stop
process_path=virtual
in=u,d~
out=ne,e+,b,b~
model=smdiag
model.options= mW: 80.45, mZ: 91.18, mT:170.9, wT: 1.5, GF:0.00001166390
order=gs,0,2
one=gs
zero=mB,mU,mD,wW,me
helicities=-+-+-+

filter.lo=lambda d: d.count_particles(["Wp", "Wm"]) > 1 and d.count_particles(["T"]) > 0 \
    and not any(p.particle().name() == "g" for p in d.bridges())
filter.nlo=lambda d: d.count_particles(["Wp", "Wm"]) > 1 and d.count_particles(["T"]) > 0 \
    and not any(p.particle().name() == "Wp" for p in d.chord(0)) \
    and not any(p.particle().name() == "g" for p in d.bridges())
