process_name=eeZH_SMEFT
process_path=virtual

in=e+,e-
out=Z,H

model=FeynRules, ../model/SMEFTsim_U35_MwScheme_UFO_epem_ZH

order_names=QCD,NP
enable_truncation_orders=True
use_vertex_labels=True

order=QCD, 0

zero=mass(11),width(23;24;25),mdlyme

filter.lo=lambda d: d.order('NP')<=1 and d.count_vertices(['e+','e-','H']) == 0
