process_name=yyyy
process_path=virtual

in=gamma, gamma
out=gamma, gamma

order=QED, NONE, 4
model=smdiag

one=e

helicities=++--, +++-, ++++

filter.particles=U:0,D:0,S:0,C:0,B:0,T:0,mum:0,taum:0,Wp:0,Wm:0,phim:0,phip:0,ghA:0,ghWp:0,ghWm:0

extensions=gaugecheck

# These parameters are not documented elsewhere because
# usually they are set by the OLP interface
+olp.include_color_average=false
+olp.include_helicity_average=false
+olp.include_symmetry_factor=false
