process_name=gH_ttg
process_path=virtual

model=FeynRules, ../model/SMEFT_UFO_Otphi_OphiG
zero=mdlMQB,mdlWQT,mdlGAMH

in=21,25
out=6,-6,21

order=QCD, 2

order_names=QCD,NP

all_mandelstam=True
enable_truncation_orders=True

filter.lo=lambda d: d.vertices(part25,part5,anti5)==0 and d.order('NP')<=1

reduction_programs=ninja
extensions=meson

symmetries=parity